/*Estilos Generales*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* ----------------------------------- */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
  

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 8px 0 0 8px;
    line-height: 1em;
    font-size: 12px;
}
header .form .submit{
    background-color: #FFF;
    color: #666;
    width: 10%;
    border-radius: 0 8px 8px 0;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.resp-header {
    display: flex;
    align-content: space-between;
}

.fa-search {
    text-align: center;
}

div.form {
    display: flex;
    width: 50%;
    height: 34px;
    margin-top: 13px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
}

article div.main-article{
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
    position: relative;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
    margin-top: 1px;
}

h3,
.description{
    color: #666;
    display: none;
}

section.banner img{
    width: 100%;
}

main{
    margin: 0 auto;
    width: 90%;
}

main section article{
    background-color: #ffffff;
    margin: 10px 0 10px 0;
    position: relative;
}
  

main section article img{
    width: 100%;
}

.fa-truck {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article i,
.discount{
    color: #39b54a;
}


/* ESTILOS DEL FOOTER*/
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #1259c3;
    font-size: 2em;
}

footer article {
    margin: 40px 0;
    color: #666;
}

footer article div {
    margin-bottom: 9px;
}

@media (min-width: 361px) {
    .burger-menu {
        display: none;
    }

    .description {
        display: block;
        margin-top: 30px;
    }

    header nav {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100 ,100 ,100 );
        width: 45%;
    }

    main section div.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    article div.main-article {
        border-top: 1px solid #ebebeb;
        width: 100%;
        padding: 15px;
        display: flex;
        position: relative;
        flex-wrap: wrap;
    }

    .discount, .price {
        width: 50%;
    }


    /*.top-header {
        display: flex;
        justify-content: space-between;
    }
    
    header div.logo {
        width: 50%;
    }

    div.form {
        width: 50%;
    }*/

}

@media (min-width: 769px){
    
    header nav {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100 ,100 ,100 );
    }

    main section div.products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    main section article {
        width: 22%;
    } 

    
}

