* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    border-radius: 8px 0 0 8px;
    line-height: 1em;
    font-size: 12px;
}
header .form .submit{
    background-color: #FFF;
    color: #666;
    width: 10%;
    border-radius: 0 8px 8px 0;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.resp-header {
    display: flex;
    align-content: space-between;
}

.fa-search {
    text-align: center;
    padding-top: 8px;
}

div.form {
    display: flex;
    width: 50%;
    height: 34px;
    margin-top: 13px;
    margin-left: 50px;
}

.main-login {
    display: block;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
}

/* ESTILOS FORMULARIO*/


div.main-login {
    margin: 35px 50px;
    padding: 20px 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}

.main-login form p {
    text-align: center;
    padding: 5px;
}

div.main-login button {
    background-color: #0d5fdb;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
}

div.main-login button:hover {
    background-color: #001463;
}

div.main-login form p input {
    height: 30px;
}

.fa-unlock, .fa-user {
    font-size: 20px;
}


/*ESTILOS FOOTER*/
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
}

i.fa-credit-card, i.fa-gift, i.fa-user-shield {
    color: #1259c3;
    font-size: 2em;
}

footer article {
    margin: 40px 0;
    color: #666;
}

footer article div {
    margin-bottom: 9px;
}


@media (min-width: 361px) {
    .burger-menu {
        display: block;
    }

    .description {
        display: block;
        margin-top: 30px;
    }

    header nav {
        display: none; 
    }
}

/*MEDIA QUERY PARA EL HEADER PORQ SINO EN 361PX QUEDABA MUY AMONTONADO*/
@media (min-width: 549px){
    
    .burger-menu {
        display: none;
    }

    header nav {
        display: flex;
        justify-content: space-between; 
    }

    header .form .input {
        line-height: 2em;
    }

    header nav ul {
        display: flex;
        padding-bottom: 8px;
        margin: 5px;
    }

    header nav ul li {
        margin-right: 9px;
    }

    header div.top-header p {
        font-size: 17px;
    }
}

@media (min-width: 769px){
    
    div.top-header {
        display: flex;
        justify-content: space-between;
    }

    div.resp-header {
        width: 153%;
    }

    div.form {
        margin-left: 5px;
    }

    header div.top-header p {
        padding-top: 12px;
        font-size: 15px;
    }

    header .form .input {
        margin-right: 7px;
        margin-top: 4px;
        border-radius: 0;
        width: 91%;
        height: 27px;
        border: 1px solid black;
    }

    header .form .submit {
        margin-right: 7px;
        margin-top: 4px;
        border-radius: 0;
        height: 27px;
        border: 1px solid black;
    }

    .fa-search {
        padding: 5px 2px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
    }

    div.main-login {
        margin: 40px 130px;
    }
    
    div.main-login form p input {
        width: 50%;
    }

    header ul li a {
        font-size: 14px;
    }
}

@media (min-width: 1024px){
    div.resp-header {
        width: 183%;
    }

    header div.top-header p {
        font-size: 16px;
    }

    header nav {
        padding: 0px 16px;
    }

    header nav ul li a {
        font-size: 17px;
        margin-right: 9px;
    }

    /* ESTILOS FOOTER RESPONSICE */

    .cont-footer {
        display: flex;
        justify-content: space-around;
    }

    .cont-footer article {
        width: 27%;
    }

    footer article div i:hover {
        color: #5297ff;
    }
}

@media (min-width: 1280px) {
    div.resp-header {
        width: 230%;
    }

    header div.top-header p {
        font-size: 20px;
    }

    header nav {
        padding: 0px 35px;
    }

    header nav ul li a {
        font-size: 20px;
        margin-right: 19px;
    }
}

@media (min-width: 1920px) {

    div.form{
        margin-top: 60px;
    }

    header .form .submit {
        width: 5%;
    }

    header div.top-header p {
        margin-top: 43px;
        font-size: 30px;
    }

    .fa-search {
        padding: 5px 7px;
    }

    header nav {
        padding: 0px 50px;
    }

    header nav ul li a {
        font-size: 25spx;
        margin-right: 33px;
    }
}